body {
    margin: 0px;
}

#front {
	display: block;
    background-image: url(Images/front.png);
    height: 380px;
}

#back {
	display: none;
	background-image: url(Images/back.png);
	height: 380px;
}

#frontImg {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
}

#info {
    position: absolute;
    right: 15px;
    bottom: 18px;
    width: 13px;
    height: 13px;
}

#backImg {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
}

#done {
    position: absolute;
    right: 21px;
    bottom: 21px;
    margin-left: auto;
    margin-top: auto;
}

#auth_button {
    font-family: HelveticaNeue-Bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 94px;
    top: 282px;
    bottom: 77px;
    height: auto;
}

#token_button {
    font-family: HelveticaNeue-Bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 94px;
    top: 310px;
    bottom: 49px;
    height: auto;
}

#tasks_button {
    font-family: HelveticaNeue-Bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 94px;
    top: 337px;
    bottom: 22px;
    height: auto;
}

#listDiv {
    margin-top: 0px;
    position: absolute;
    top: 30px;
    text-align: left;
}
