body {
    margin: 0px;
}

#front {
	display: block;
    background-image: url(Images/front.png);
    height: 380px;
	background-repeat: no-repeat;
}

#back {
	display: none;
	background-image: url(Images/back.png);
	height: 380px;
	background-repeat: no-repeat;
}

#info {
    position: absolute;
    right: 15px;
    bottom: 18px;
    width: 13px;
    height: 13px;
}

#done {
    position: absolute;
    right: 21px;
    bottom: 21px;
    margin-left: auto;
    margin-top: auto;
}

#auth_button {
    /*font-family: HelveticaNeue-Bold;*/
	font-family: "Myriad Pro";
	font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 50px;
    top: 280px;
    bottom: 77px;
    height: auto;
}

#token_button {
	font-family: "Myriad Pro";
	font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 50px;
    top: 310px;
    bottom: 49px;
    height: auto;
}

#tasks_button {
	font-family: "Myriad Pro";
	font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 50px;
    top: 340px;
    bottom: 22px;
    height: auto;
}

#add_button {
	font-family: "Myriad Pro";
	font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: auto;
    margin-top: 0px;
    width: 93px;
    left: 150px;
    top: 280px;
    bottom: 77px;
    height: auto;
}

#del_button {
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	position: absolute;
	right: auto;
	margin-top: 0px;
	width: 93px;
	left: 150px;
	top: 310px;
	bottom: 77px;
	height: auto;
}

#listDiv {
    margin-top: 0px;
    position: absolute;
    top: 15px;
    text-align: left;
	left: -15px;
}

#taskList {
	list-style-type: none;
}

#taskList li{
	font-family: "Myriad Pro";
	font-style: normal;
	font-stretch: condensed;
	font-weight: bold;
	line-height: 16px;
	padding: 0px;
	margin: 5px 0px 6px 0px;
	width: 230px;
	height: 28px;
}

.duedate {
	float: right;
	clear: right;
	font-size: 12px;
	font-weight: normal;
}

a.checkimg {
	padding-left: 20px;
	background-image: url(Images/cd.png);
	background-repeat: no-repeat;
}
a.checkimg:hover {
	padding-left: 20px;
	background-image: url(Images/accept.png);
	background-repeat: no-repeat;
}

#undo {
	display: none;
	background-image: url(Images/undo.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	float: left;
	top: 345px;
	left: 17px;
}

#loading {
	position: absolute;
	top: 22px;
	left: 243px;
	display: none;
	float: right;
}
