body {
margin:0;
}

#front {
display:block;
background-image:url(Images/front.png);
height:380px;
background-repeat:no-repeat;
}

#back {
display:none;
background-image:url(Images/back.png);
height:380px;
background-repeat:no-repeat;
}

#me {
position:absolute;
text-align:center;
color:#FFF;
font-family:HelveticaNeue-Bold;
text-shadow:#191919 3px 3px 2px;
width:150px;
font-size:9pt;
height:19px;
left:64px;
top:280px;
}

#email {
position:absolute;
text-align:center;
font-family:HelveticaNeue-Bold;
text-shadow:navy 2px 2px 2px;
cursor:pointer;
font-size:9pt;
width:125px;
color:#337bff;
height:17px;
left:30px;
top:300px;
}

#magic {
position:absolute;
text-align:left;
font-family:"Myriad Pro";
color:#FFF;
left:30px;
top:25px;
width:220px;
}

#magicform {
position:absolute;
font-size:12px;
top:25px;
}

#magicform label {
text-align:right;
}

#magicform select {
left:80px;
width:160px;
}

#custom {
position:absolute;
text-align:left;
font-family:"Myriad Pro";
color:#FFF;
left:30px;
top:210px;
width:220px;
}

#info {
position:absolute;
left:250px;
bottom:18px;
width:13px;
height:13px;
}

#done {
position:absolute;
left:210px;
bottom:21px;
margin-left:auto;
margin-top:auto;
}

#tasks_button {
font-family:"Myriad Pro";
font-weight:700;
font-size:12px;
text-align:center;
position:absolute;
right:auto;
margin-top:0;
width:93px;
left:93px;
top:340px;
bottom:22px;
height:auto;
cursor:pointer;
}

#listDiv {
margin-top:0;
padding-top:0;
position:absolute;
top:95px;
bottom:50px;
text-align:left;
left:22px;
display:block;
}

#listScrollbar {
position:absolute;
top:95px;
bottom:50px;
left:243px;
width:19px;
}

#authDiv {
font-family:"Myriad Pro";
font-weight:700;
font-size:14px;
position:absolute;
top:97px;
text-align:left;
left:30px;
display:none;
}

#authurl {
color:blue;
text-decoration:underline;
}

#taskList {
list-style-type:none;
margin:0;
padding:0;
}

#taskList li {
font-family:"Marker Felt";
font-style:normal;
font-weight:400;
line-height:16px;
width:220px;
height:35px;
margin:0 0 5px;
padding:0;
}

#taskList li:hover {
background-color:#e8eef7;
}

.duedate {
font-family:"Myriad Pro";
float:right;
clear:right;
font-size:12px;
font-weight:400;
margin-left:5px;
}

#taskDetails {
position:absolute;
background-color:#f9f9f9;
left:269px;
top:100px;
width:0;
height:200px;
-webkit-border-top-right-radius:.5em;
-webkit-border-bottom-right-radius:.5em;
border-color:#0060bf;
border-style:none;
border-width:2px 2px 2px 0;
}

#detailsDiv {
font-family:verdana;
font-size:11px;
display:none;
word-wrap:break-word;
}

.CloseX,.CloseX:link,.CloseX:active,.CloseX:visited {
text-decoration:none;
font-weight:700;
font-size:1.1em;
position:absolute;
top:-1px;
left:185px;
color:#969696;
}

.CloseX:hover {
color:#0060bf;
}

.detailsLink,.detailsLink:link,.etailsLink:active,.detailsLink:visited {
font-weight:700;
text-decoration:none;
color:#0060bf;
width:170px;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
position:absolute;
left:10px;
}

.detailsLink:hover {
background-color:#FFC;
}

#detailsName,#detailsName:link,#detailsName:active,#detailsName:visited {
top:10px;
}

#detailsName_edit {
width:160px;
font-size:11px;
display:none;
position:absolute;
left:7px;
top:7px;
}

#detailsdue {
position:absolute;
left:10px;
top:40px;
width:170px;
}

#detailsdue_editfield {
width:120px;
font-size:11px;
display:none;
position:absolute;
left:30px;
top:-3px;
}

.highlight {
padding:1px;
cursor:pointer;
}

.highlight:hover {
background-color:#FFC;
}

#undo {
display:none;
background-image:url(Images/undo.png);
background-repeat:no-repeat;
width:16px;
height:16px;
position:absolute;
float:left;
top:345px;
left:17px;
}

#loading {
position:absolute;
top:18px;
left:246px;
display:none;
float:right;
}

#taskinput {
position:absolute;
left:25px;
top:65px;
width:220px;
font-size:12px;
}

#title {
font-family:"Marker Felt";
font-weight:lighter;
color:#0060bf;
position:absolute;
left:90px;
top:0;
}

#cowimg {
display:block;
padding-left:10px;
}

#authurl:hover,#taskList li input {
cursor:pointer;
}